#jstudies root project
/target/
/.settings
/.classpath
/.project
/.tern-project

# models module
models/.settings
models/.classpath
models/.factorypath
models/.project

# threads module
threads/.settings
threads/.project
threads/.classpath
threads/target/


# concurrency module
concurrency/.settings
concurrency/.project
concurrency/.classpath
concurrency/target/